.section{
    padding: 15rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    gap: 5rem;
}

.heroText{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.heroImage img{
    max-width: 30rem;
    max-height: 20rem;
}



@media screen and (min-width:786px) and (max-width:1200px){

    .section{
        padding: 10rem 2rem 7rem 2rem;
    }

    .hero{
        gap: 4rem;
    }

    .heroImage img{
        max-width: 25rem;
        max-height: 17rem;
    }
}

@media screen and (max-width:786px){

    .section{
        padding: 7rem 1.5rem 3rem 1.5rem;
    }

    .hero{
        flex-direction: column-reverse;
        text-align: left;
        gap: 1rem;
        align-items: flex-start;
    }

    .heroImage img{
        width: 100%;
        max-width: none;
        max-height: none;
        height: 100%;
    }

    .heroText {
        gap: 0.5rem;
    }
}