.section{
    padding: 13rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heroText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 25rem;
}

.heroText > div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.heroImage img{
    position: absolute;
    z-index: -1;
    max-width: 30rem;
    max-height: 20rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: left;
}

@media screen and (min-width:786px) and (max-width:1200px){
    .heroImage img{
        max-width: 25rem;
        max-height: 17rem;
    }

    .heroText{
        height: 22rem;
    }

    .heroText > div{
        gap: 1rem;
    }
}

@media screen and (max-width:786px){

    .section{
        padding: 10rem 1.5rem;
    }

    .heroText{
        gap: 10rem;
    }

    .heroImage img{
        max-width: 20rem;
        max-height: 14rem;
    }

    .heroText{
        height: 18rem;
    }

    .heroText > div{
        gap: 1rem;
    }
}